body{
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    background-color: #555;
}

h1{
    padding: 0px;
    margin: 0px;
}

#header{
    overflow: auto;
    background-color: #EEE;
    padding: 10px;
    margin-bottom: 10px;
}

#tooltip{
    padding: 2px;
    background-color: #CCC;
    position: absolute;
    z-index: 10;
    visibility: hidden;
}

#tooltip_image{
    max-width: 600px;
    max-height: 400px;
}

.clear{
    clear: both;
}

.activityCircles{
    fill: steelblue;
}

.activityDurationText{
    font-family: "sans-serif";
    font-size: 11px;
    fill: white;
}

.labelText{
    fill: #CCC;
    color: #CCC;
}


.slider-block{
    float:left;
    padding-right: 20px;
    width:200px;
}

.rect_class{
    border-width: 0px;

}

.thumbnail{
    float: left;
    height: 360px;
    margin: 20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.clickDiv{
    height: 100px;
    width: 100px;
    margin: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #DDD;
}

.clickImg{
    position: absolute;
}
