* { box-sizing: border-box; } /* This ensures padding forces content inwards, rather than box boundaries outward */

body{
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    background-color: #777;
    margin-left: 350px;
}

h1{
    padding: 0px;
    margin: 0px;
}

.viewSelect {
    margin: 20px 0px;
}

#header{
    overflow: auto;
    background-color: #EEE;
    padding: 20px;
    position: fixed;
    width: 300px;
    height: 100%;
    left: 0;
}

#tooltip{
    padding: 2px;
    background-color: #CCC;
    position: absolute;
    z-index: 10;
    visibility: hidden;
}

#tooltip_image{
    max-width: 600px;
    max-height: 600px;
}

#tooltip_text{
    padding: 0px 5px 0px;
}

#header hr {
    margin: 10px 0px;
}

.clear{
    clear: both;
}

.activityCircles{
    fill: steelblue;
    stroke: gray;
    stroke-width: 1px;
}

.activityDurationText{
    font-size: 11px;
    fill: white;
}

.labelText{
    fill: #CCC;
    color: #CCC;
}


.slider-block {
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.rect_class{
    border-width: 0px;

}

.thumbnail{
    float: left;
    height: 360px;
    margin: 20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.clickDiv{
    height: 100px;
    width: 100px;
    margin: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #DDD;
}

.clickImg{
    position: absolute;
}

#aspectForm {
    margin-top: 20px;
}
/* Radio button styling */

input[type=radio] {
    display:none;
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;

    cursor: pointer;
}

input[type=radio]:checked + label {
   background-image: none;
    background-color:#d0d0d0;
}
