.class_timestamp {
	border:1px solid #000000;
	background-color:#5D5D5D;
	float: left;
}

.class_duration {
	border:1px solid #000000;
	background-color:#C75646;
	float: left;
}

.class_elements {
	border:1px solid #000000;
	background-color:#218693;
	float: right;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}